importFrom(BiocInstaller, biocLite, biocinstallRepos)
importFrom(dplyr, src_sqlite, src_mysql, src_sql, src_tbls)
importFrom(utils, available.packages, contrib.url, head,
    installed.packages)

export(anno, ucsc)
S3method(print, "db_packages")
S3method(format, "src_biocdb")
S3method(format, "src_Organism")
